<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页 - 基金查询系统 V5.87</title>
    <script type="text/javascript" src="./js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $(":button").click(function(){
                code =  $(this).attr("systemIdVaule");
                $.get("/add/" + code + ".html",function(data,status){
                        alert("数据：" + data + "\n状态：" + status);
                 });
            });
        });
    </script>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
  </head>
<div class="navbar navbar-inverse navbar-static-top ">
    <div class="container">
    <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target="#mymenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
         <a href="#" class="navbar-brand">基金查询系统</a>
    </div>
    <div class="collapse navbar-collapse" id="mymenu">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/stock.html">基金信息</a></li>
            <li><a href="/user.html">个人中心</a></li>
        </ul>
    </div>
    </div>
</div>
  <div class="container">

    <div class="container-fluid">

      <table class="table table-hover">
        <tr>
            <th>序号</th>
            <th>基金代码</th>
            <th>基金名称</th>
            <th>基金类型</th>
            <th>单位净值</th>
            <th>累计净值</th>
            <th>涨跌幅</th>
            <th>记录时间</th>
            <th>添加自选</th>
        </tr>
        {%content%}
      </table>
    </div>
  </div>
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>            